
.logo {
    display: block;
    margin:0 auto;
      // position: relative;
      // margin-left: 80px;
      // margin-top: 10px;
      // margin-right: 80px;
   
    @include breakpoint($medium) {
     margin: 0 auto;
 }
}
nav {
    padding: 25px 0;
}
 .button {
    margin: -8px 0;
    background-color: black;
    color: white;
    font-size: 1em;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid white;
 }
 .menubutton {
    margin-left: 10px;
 }
 .sitebutton {
    position: absolute;
    top:  21px;
    right: 10px;

    font-size: 1em;

 }
 a {
    text-decoration: none;
 }
.mainNav {
    list-style: none;
    padding: 15px 10px 0;
    margin: 0;
    display: none;


    a {
        display: block;
        color: #fff;
        padding: 10px 15px;
        border: 1px solid white;
        border-radius: 5px;
    }
    @include breakpoint($medium) {
        display: block;
        text-decoration: none;
        
    }
}
